@media only screen and (min-device-width: 600px) {
  /* line 3, ../scss/600.scss */
  #first {
    height: 550px;
    font-size: 50px;
  }

  /* line 8, ../scss/600.scss */
  #logo {
    position: absolute;
    left: -110%;
    top: 10px;
  }

  /* line 15, ../scss/600.scss */
  #banner {
    text-align: center;
    position: relative;
    width: 327px;
    left: 54%;
    top: 5%;
    font-size: 50px;
  }

  /* line 24, ../scss/600.scss */
  #jetpack {
    height: 450px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  /* line 30, ../scss/600.scss */
  #container {
    height: 350px;
  }
}
