@media screen and (device-aspect-ratio: 2 / 3) {
  /* line 3, ../scss/700.scss */
  #first {
    height: 350px;
  }

  /* line 7, ../scss/700.scss */
  #logo {
    position: absolute;
    left: -110%;
    top: 10px;
  }

  /* line 14, ../scss/700.scss */
  #banner {
    text-align: center;
    position: relative;
    width: 327px;
    left: 54%;
    top: 5%;
  }

  /* line 22, ../scss/700.scss */
  #jetpack {
    height: 450px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  /* line 28, ../scss/700.scss */
  #container {
    height: 350px;
  }
}
