@media only screen and (min-device-width: 600px)  {

#first {
	height:550px;
	font-size:50px;
}

#logo {
	position: absolute;
	left: -110%;
	top:10px;
	
}

#banner { 
	text-align: center;
	position: relative;
	width: 327px;
	left:54%;
	top: 5%;
	font-size:50px;
}

#jetpack {
	height: 450px;
	margin-top: 40px;
	margin-bottom: 30px;
}

#container {

	height:350px;
}

}