@media all and (min-width: 700px)  {

#first {
	height:350px;
}

#logo {
	position: absolute;
	left: -110%;
	top:10px;

}

#banner { 
	text-align: center;
	position: relative;
	width: 327px;
	left:54%;
	top: 5%;
}

#jetpack {
	height: 450px;
	margin-top: 40px;
	margin-bottom: 30px;
}

#container {

	height:350px;
}

}