h2{
    font-size:50px;
    font-weight:100;
    text-align:center;
    color: #0747f7;
}

#special {
	position: relative;
	bottom:265px;
	left:843px;
	color:black;
	font-size: 50px;
}

#special2 {
	position: relative;
	top:-360px;
	left:20px;
	color:black;
	font-size: 40px;
}

#second {
    margin:0 auto;
    width:1100px;
    height:500px;
    background-color:white; 


}

#cta {
	height: 50px;
	width:150px;
	background-color:#2e9df7;
	color: white;
	display: block;
	border-radius: 6px;
	margin-left: 70%;
	line-height: 45px;
	font-size: 20px;
	padding-left: 13px;
}

#cta:hover {
	cursor: pointer;
	background-color:#55b3ff;
}

#banner h3 {
	color:white;
	margin-left:50%;
}


#steps_wrap img{
	width: 204px;
	height:157px;
	display:inline-block;
}
#jetpack {
	margin: 0 auto;
	width:1000px;
	height: 500px;
	z-index: 10;
	background: url('up.jpg') no-repeat center center fixed; 
    -webkit-background-size:  cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:  cover;
    background-attachment:scroll;
}

#fourth {
	padding: 0;
    margin:0;
    width:100%;
    height:1450px;
    background-color:#fce6fc; 
    z-index: -10;
}

#fourth h3{
    width:1000px;
    margin: 0 auto;
}
#amount_raised {
		position: relative;
	top: -300px;
    margin-left: 10px;
    font-size: 20px;
}
.special_steps_divs {
	display: inline-block;
	width:280px;
    height:300px;
    margin-right:70px;
    margin-left:220px;
    vertical-align:top;
}

.special_steps_divs p {
	position: relative;
	top: -200px;
    margin-left: 10px;
    font-size: 20px;
}


#sixth {
	background-color: #eaf2e7;
	margin:0;
	padding: 0;
	width:100%;
    height:1000px;
}

#seventh {
	background-color: #ccd8ff;
	margin:0;
	padding: 0;
	width:100%;
    height:1500px;
    position: relative;
    top:-30px;
}

.speakers_img {
	margin-left: 200px;
	border-radius: 100%;
	height: 300px;
	width: 300px;
	background-color: #2d90ff;
	display:inline-block;
}

.speakers_copy {
	height: 300px;
	width: 600px;
	display:inline-block;
	margin-left: 100px;
}

.speakers_copy {
	height: 300px;
	width: 600px;
	display:inline-block;
	margin-left: 100px;
	margin-bottom: 100px;
}

.speakers_copy p{
	text-align: left;
	color:#73757c;
}

.speakers_copy h3{
	text-align: left;
	font-variant:small-caps;
	letter-spacing:2px;
}


#eigth {
	background-color: #6f72c6;
	margin:0;
	padding: 0;
	width:100%;
    height:900px;
    position: relative;
    top:-60px;
}

#eigth h3 {
	color:#aeb0bb;
}

#eigth img {
	display: block;
	margin: 0 auto;
	width:1000px;
	height:700px;
}

.list_countries{
	width:180px;
	height:350px;
	position: relative;
	bottom:30px;
	list-style-type: none;
	
}

.list_countries li {
	text-align: left;
	color:#82838a;
}
#panel {
	width:230px;
	height:370px;
	background-color: white;
	position: relative;
	bottom:400px;
	left:40px;
	color:#24282a;
}
#panel h4 {
color:#82838a;
	position: relative;
	padding-top: 20px;
	left:40px;
}

#panel hr {
color:#6c6c71;
	position: relative;
	margin-top: -10px;
	width:150px;

}